@model El_Hivan.Models.NotaPrenda

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<h2>Editar Prenda</h2>


@using (Html.BeginForm("Edit", "NotaPrenda", FormMethod.Post, new { @class = "formulario-lote_veneno" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        @*<div class="form-group">
                @Html.LabelFor(model => model.idNota, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.idNota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.idNota, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.id, "Prenda", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Descripcion, "Descripcion", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.Label("Prendas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipoPrenda", null, "Seleccionar opción", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prenda.idTipoPrenda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Arreglos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idArreglo", null, "Seleccionar opción", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prenda.idArreglo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prenda.Cantidad, "Precio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 precio">
                @Html.EditorFor(model => model.Prenda.Cantidad, new { htmlAttributes = new { @class = "form-control", @readOnly = true } })
                @Html.ValidationMessageFor(model => model.Prenda.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CantidadPrendas, "Cantidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantidadPrendas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantidadPrendas, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group ocultar">
            @Html.LabelFor(model => model.idPrenda, "idPrenda", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                <input id="idPrenda" name="idPrenda" class="prenda" type="text" value="0" />
            </div>
        </div>*@

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" data-notaprenda="false">Editar</button>
            </div>
        </div>*@
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
