@model IEnumerable<El_Hivan.Models.NotaPrenda>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idNota)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Precio.id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idNota)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Precio.id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
