@model IEnumerable<El_Hivan.Models.Prenda>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="row">
    <div class="col-md-6">
        <select class="form-control" id="drpOpciones">
            <option value="0">Seleccionar Opción</option>
            <option value="1">Por Prenda</option>
            <option value="2">Por Arreglo</option>
        </select>
    </div>
    <div class="col-md-6">
        <input placeholder="Escribe el nombre" class="form-control" id="BusqPrendT" readonly="readonly"/>

    </div>
</div>
    
<table class="table" id="tblPrenda">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Arreglo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TipoPrenda)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Arreglo.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoPrenda.Nombre)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>

    </table>
