@model WebApplication1.Models.NotaPrenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NotaPrenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idNota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idNota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenda.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenda.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
