@model El_Hivan.Models.Arreglo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoArreglo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.idPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPrecio)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
