@model El_Hivan.Models.Nota


@{
    ViewBag.Title = "Home Page";
    var fechaR = ViewBag.FechaRecibido;
}
@section miscss{
    <link href="~/Content/CssPrivate/Nota.css" rel="stylesheet" />

}
@section misjava{
    <script src="~/Scripts/PrivateJavascripts/jsNotaArreglo.js"></script>
    <script src="~/Scripts/PrivateJavascripts/jsNotaPrecio.js"></script>
    <script src="~/Scripts/PrivateJavascripts/jsNotaPrenda.js"></script>
    <script src="~/Scripts/PrivateJavascripts/jsNotaClientes.js"></script>
    <script src="~/Scripts/PrivateJavascripts/jsNotaFecha.js"></script>
    <script src="~/Scripts/PrivateJavascripts/jsNotaSave.js"></script>
    <script src="~/Scripts/PrivateJavascripts/jsNotaPrendaEdit.js"></script>
}

@MyHelpers.Resultado(" ")

@using (Html.BeginForm("Create", "Nota", FormMethod.Post, new { @class = "formulario-lote_veneno" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="divPrincipalNota" class="form-horizontal">
            <div class="row" id="divEncabNota">
                <div class="col-md-7" id="divLogoNota">
                    <h1>EL HILVÁN</h1>
                </div>
                <button type="button" id="btnFechaEdit" class="btn btn-primary col-md-3" data-toggle="modal" data-target="#EditFecha">
                    <i class="fas fa-calendar-alt notaicon fa-2x"></i>
                </button>
                <div class="col-md-2" id="divFechaNota">
                    <div>
                        <div class="col-md-4">
                            Día
                        </div>
                        <div class="col-md-4">
                            Mes
                        </div>
                        <div class="col-md-4">
                            Año
                        </div>
                    </div>
                    <div id="date">
                        <div class="col-md-4" id="dateDia">
                            -
                        </div>
                        <div class="col-md-4" id="dateMes">
                            -
                        </div>
                        <div class="col-md-4" id="dateAño">
                            -
                        </div>
                    </div>
                </div>
            </div>

            <div id="divFolio">
                Folio
                <label id="lblFolio">@ViewBag.folio</label>

                <div class="form-group col-md-10" style="display: none;">
                    @Html.LabelFor(model => model.Folio, "Folio:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Folio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="divDataCliente" class="row">
                <div class="col-md-6">
                    <button type="button" id="btnClient" class="btn btn-primary" data-toggle="modal" data-target="#AddCliente">
                        <i id="icoAdd" class="fas fa-user-circle notaicon fa-2x"></i>
                    </button>
                    <div id="divNomCliente">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Clientes.Nombre, "Nombre del Cliente:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Clientes.Nombre, new { htmlAttributes = new { @class = "form-control", @readOnly = true } })
                                @Html.ValidationMessageFor(model => model.Clientes.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="divDirCliente">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Clientes.Direccion, "Dirección del Cliente:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Clientes.Direccion, new { htmlAttributes = new { @class = "form-control", @readOnly = true } })
                                @Html.ValidationMessageFor(model => model.Clientes.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="divTelCliente">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Clientes.Telefono, "Teléfono del Cliente:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Clientes.Telefono, new { htmlAttributes = new { @class = "form-control", @readOnly = true } })
                                @Html.ValidationMessageFor(model => model.Clientes.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="divFechaEntrega">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.FechaEntrega, "Fecha de Entrega:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.FechaEntrega, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                @Html.ValidationMessageFor(model => model.FechaEntrega, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    @*Divs Ocultos*@
                    <div class="form-group col-md-12" style="display: none;">
                        @Html.LabelFor(model => model.idClientes, "id del Cliente:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.idClientes, new { htmlAttributes = new { @class = "form-control", @readOnly = true } })
                            @Html.ValidationMessageFor(model => model.idClientes, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-10" style="display: none;">
                        @Html.LabelFor(model => model.FechaRecibido, "Fecha de Recibido:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.FechaRecibido, new { htmlAttributes = new { @class = "form-control", @type = "date", @readOnly = true } })
                            @Html.ValidationMessageFor(model => model.FechaRecibido, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6" id="divDataEmpresa">
                    <div id="divDueEmpresa" class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.Empresa.Dueño, "Gerente:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-9">
                                <label class="col-md-12" style="margin-top: 7px;">@ViewBag.Dueño</label>
                            </div>
                        </div>
                    </div>
                    <div id="divCURPEmpresa" class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.Empresa.CURP, "CURP:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <label class="col-md-12" style="margin-top: 7px;">@ViewBag.CURP</label>
                            </div>
                        </div>
                    </div>
                    <div id="divRFCEmpresa" class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.Empresa.RFC, "RFC:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <label class="col-md-12" style="margin-top: 7px;">@ViewBag.RFC</label>
                            </div>
                        </div>
                    </div>
                    <div id="divTelEmpresa" class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.Empresa.Telefono, "Teléfono:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <label class="col-md-12" style="margin-top: 7px;">@ViewBag.Telefono</label>
                            </div>
                        </div>
                    </div>
                    <div id="divDirEmpresa" class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.Empresa.Direccion, "Dirección:", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <label class="col-md-12" style="margin-top: 7px;">@ViewBag.Direccion</label>
                            </div>
                        </div>
                    </div>
                    @*<div id="divRepDatEmpresa" class="row">
                            <div class="form-group col-md-10">
                                @Html.LabelFor(model => model.Empresa.Rep_Datos, "Reposición de Datos:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <label class="col-md-12" style="margin-top: 7px;">@ViewBag.Rep_Datos</label>
                                </div>
                            </div>
                        </div>
                        <div id="divIncFisEmpresa" class="row">
                            <div class="form-group col-md-10">
                                @Html.LabelFor(model => model.Empresa.Incorp_Fiscal, "Reposición de Datos:", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <label class="col-md-12" style="margin-top: 7px;">@ViewBag.Incorp_Fiscal</label>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>

            <div id="divDataPrenda">

                <div id="divTHead" class="row">

                    <div id="divThCantidad" class="col-md-1">
                        Cantidad
                    </div>

                    <div id="divThPrenda" class="col-md-7">
                        Prenda
                    </div>

                    <div id="divThPrecio" class="col-md-1">
                        Precio
                    </div>

                    <div id="divThImporte" class="col-md-1">
                        Importe
                    </div>

                </div>
                <div class="TableData">
                    <div id="divTBody" class="row TableBody">

                        <div id="divTbCantidad" class="col-md-2 TBody">
                            No.
                        </div>

                        <div id="divTbPrenda" class="col-md-6 TBody">
                            Tipo de Prenda : Arreglo
                        </div>

                        <div id="divTbPrecio" class="col-md-1 TBody">
                            Cant.
                        </div>

                        <div id="divTbImporte" class="col-md-1 TBody">
                            Cant.
                        </div>

                    </div>

                    <div id="divTBody2" class="row TableBody2">

                        <div id="divTb1" class="col-md-2 TBody">

                        </div>

                        <div id="divTb2Descripcion" class="col-md-6 TBody">
                            Descripción
                        </div>

                        <button type="button" id="divTb3Edit" class="btn btn-primary nticon col-md-3 divTb3Edit">
                            <i id="icoEdit" class="fas fa-pen notaicon fa-2x"></i>
                        </button>

                        <button type="button" id="divTb4Delete" class="btn btn-primary nticon col-md-3">
                            <i id="icoDelete" class="fas fa-trash notaicon fa-2x"></i>
                        </button>

                    </div>

                    <div id="divTFoot" class="row TableFoot">

                        <div id="divTf1" class="col-md-8">

                        </div>

                        <div id="divTfTotal" class="col-md-1">
                            Total:

                        </div>

                        <div id="divTfImpTotal" class="col-md-1">
                            Cant.
                        </div>

                    </div>
                </div>


            </div>

            <div class="form-group" style="display:none">
                @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
                </div>
            </div>


            <div id="divAreaBtn" class="row">

                <button type="button" id="divAbAdd" class="btn btn-primary nticon col-md-3" data-toggle="modal" data-target="#AddPrenda">
                    <i id="icoAdd" class="fas fa-socks notaicon fa-3x"></i>
                </button>

                <button type="button" id="divAbPay" class="btn btn-primary nticon col-md-3">
                    <i id="icoPay" class="fas fa-money-bill-wave notaicon fa-3x"></i>
                </button>

                <button type="button" id="divAbPrint" class="btn btn-primary nticon col-md-3">
                    <i id="icoPrint" class="fas fa-print notaicon fa-3x"></i>
                </button>

                <button type="submit" id="divAbSave" class="btn btn-primary nticon col-md-3" data-save="true">
                    <i id="icoSave" class="fas fa-save notaicon fa-3x"></i>
                </button>

            </div>

        </div>
    </div>
}
<div class="modal fade" id="EditFecha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="hdEditFecha">Editar Fecha</h2>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div id="divFechas" class="row">
                    <div class="form-group col-md-10">
                        @Html.LabelFor(model => model.FechaRecibido, "Fecha de Recibido:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">

                            <input class="form-control text-box single-line" data-val="true" data-val-date="El campo FechaRecibido debe ser una fecha." data-val-required="El campo FechaRecibido es obligatorio." id="inpFechaRecibido" name="inpFechaRecibido" type="date" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary" data-notafecha="true">Guardar</button>
                            @*  <input type="submit" value="Aceptar" class="btn btn-default" />*@
                        </div>
                    </div>
                </div>
                @*<input type="date" id="FechaEntr" class="form-control" />*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="FindCliente">Buscar Cliente</h2>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <div id="divClienteSelect">
                    <div id="divNomCliente" class="row">
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.idClientes, "Busqueda del Cliente:", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="dl-horizontal col-md-8" id="idClientes">
                                @Html.DropDownList("idClientes", null, htmlAttributes: new { @class = "form-control addCliente", @placeholder = "Seleccionar Cliente" })
                                @Html.ValidationMessageFor(model => model.idClientes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <button type="button" id="btnClienteAdd" class="btn btn-primary col-md-2">
                            <i id="icoAdd" class="fas fa-check-circle notaicon fa-2x"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddPrenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Prenda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body">
                @{Html.RenderAction("Create", "NotaPrenda");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditPrenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Prenda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-body EditBody">
                @*<h2>Editar Prenda</h2>
                    <div class="form-horizontal">
                        <hr>
                        <div class="form-group">
                            @Html.Label("Prendas", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("idTipoPrendaEdit", null, "Seleccionar opción", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-10">
                                <select class="form-control" id="idTipoPrendaE" name="idTipoPrenda"></select>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Prenda.idTipoPrenda" data-valmsg-replace="true"></span>
                            </div>

                        <div class="form-group">
                            @Html.Label("Arreglos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("idArregloEdit", null, "Seleccionar opción", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Descripcion">Descripción</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Descripcion" name="Descripcion" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Descripcion" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Prenda_Cantidad">Precio</label>
                            <div class="col-md-10 precio">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="El campo Cantidad debe ser un número." data-val-required="El campo Cantidad es obligatorio." id="Prenda_Cantidad" name="Prenda.Cantidad" readonly="True" type="text" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Prenda.Cantidad" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="CantidadPrendas">Cantidad</label>
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" data-val="true" data-val-number="El campo CantidadPrendas debe ser un número." data-val-required="El campo CantidadPrendas es obligatorio." id="CantidadPrendas" name="CantidadPrendas" type="number" value="">
                                <span class="field-validation-valid text-danger" data-valmsg-for="CantidadPrendas" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group ocultar">
                            <label class="control-label col-md-2" for="idPrenda">idPrenda</label>
                            <div class="col-md-10 ">
                                <input id="idPrenda" name="idPrenda" class="prenda" type="text" value="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" data-notaprenda="true">Guardar</button>

                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

